*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

:root{
    --N: 12;
    --W: 500px;
    --shipSize: 
}

.navalbase{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#btn{
    position: absolute;
    top: 800px;
    width: 200px;
    height: 100px;
    background-color: aqua;
}

.boards{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.mast-parent{
    display: flex;
    flex-direction: row;
}

.mast-parent:hover > .mast{
    background-color: red;
}

.mast-parent.selected > .mast{
    background-color: blue;
}

.mast{
    width: calc(var(--W) / var(--N));
    height: calc(var(--W) / var(--N));
    border: 1px solid black;
}

.marked{
    background-color: greenyellow;
}

.incorrect-placement{
    background-color: red;
}

.placed{
    background-color: blue;
}

.field{
    margin: 100px 0px 0px 100px;
    display: grid;
    grid-template-columns: repeat(var(--N), 1fr);
    grid-template-rows: repeat(var(--N), 1fr);
    gap: 0px;
    width: var(--W);
    border: 1px solid black;
}

.field > div{
    border: 1px solid black;
    width: calc(var(--W) / var(--N));
    height: calc(var(--W) / var(--N));
}

.ship{
    background-color: blue;
}

img{
    width: 48px
}

.no-ship{
    background-color: white;
}

.modals{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 105px;
}

.start-button{
    width: 250px;
    height: 100px;
    background-color: lightcoral;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 5px solid black;
    padding-top: 25px;
    font-size: 30px;
    cursor: pointer;
}