*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

:root{
    --N: 12;
    --W: 500px;
    --shipSize: 
}

body{
    background-color: lightgray;
}

.navalbase{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100px;
    left: 50px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#btn{
    position: absolute;
    top: 900px;
    width: 200px;
    height: 100px;
    background-color: aqua;
}

.boards{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    
}

.mast-parent{
    display: flex;
    flex-direction: row;
}

.mast-parent:hover > .mast{
    background-color: red;
    border-radius: 5px;
}

.mast-parent.selected > .mast{
    background-color: blue;
    border-radius: 5px;
}

.mast{
    width: calc(var(--W) / var(--N));
    height: calc(var(--W) / var(--N));
    border: 1px solid black;
    border-radius: 5px;
}

.marked{
    background-color: darkgrey;
    border-radius: 5px;
}

.incorrect-placement{
    background-color: red;
    border-radius: 5px;
}

.placed{
    background-color: grey;
    border-radius: 5px;
}

.field{
    margin: 100px 0px 0px 100px;
    display: grid;
    grid-template-columns: repeat(var(--N), 1fr);
    grid-template-rows: repeat(var(--N), 1fr);
    gap: 0px;
    width: var(--W);
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.field > div{
    border: 1px solid black;
    width: calc(var(--W) / var(--N));
    height: calc(var(--W) / var(--N));
}

.ship{
    background-color: blue;
}

img{
    width: 46px
}

.no-ship{
    background-color: white;
}


.modals{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 105px;
}

.win-div{
    width: 600px;
    height: 300px;
    background-color: lightblue;
    border: 10px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}

.start-button{
    width: 250px;
    height: 100px;
    background-color: lightcoral;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 5px solid black;
    padding-top: 25px;
    font-size: 30px;
    cursor: pointer;
}

.hood{
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -800px;
    width: 1600px;
    opacity: 0.6;
}